@keyframes task-exit{
    from {
        transform: perspective(400px);
    }

    30%{
        transform: perspective(400px) rotate3d(1,0,0,-20deg);
        opacity: 1;
    }

    to{
        transform: perspective(400px) rotate3d(1,0,0,90deg);
        opacity: 0;
    }
}

.exit{
    animation-name: task-exit;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
}

#task-list{
    height: 40vh;
    margin-left: 6rem;
    margin-top: 3rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    user-select: none;
    font-size: 16px;

    li{
        list-style: none;
        font-size: 5em;
        margin: 0.34em 0;
        margin-right: 2em;
        color: rgba(var(--text-color),1);
    }
    @media (max-width: 1500px) {
        font-size: 15px;
    }
    @media (max-width: 1500px) {
        height: 54vh;
    }
    @media (max-width: 1300px) {
        font-size: 14px;
    }
    @media (max-width: 1200px) {
        font-size: 13px;
    }
    @media (max-width: 1100px) {
        font-size: 12px;
        flex-wrap: nowrap;
        height: auto;
        align-items: center;
        margin:6rem 0 12rem;
        li{
            margin: 2rem 0;
            font-size: 64rem;
        }
        li:last-of-type{
            margin-bottom: 10rem;

        }
    }

    $list-sizes:(
            '3' : 4.5em,
            '5' : 3.2em,
            '9' : 2.8em,
            '12' : 2.4em,
            '20' : 2.1em,
            '25' : 2.0em,
            '30' : 1.75em,
    );

    @each $min,$size in $list-sizes{
        li:first-child:nth-last-child(n+#{$min}),li:first-child:nth-last-child(n+#{$min}) ~ li{
            font-size : $size;
        }
    }
    
}
