@import "variables";
#menu-section{
    input{
        display: none;
    }
    color: rgba(var(--text-color),1);
}
#menu-controller{
    width: calc(4.5vw + 70px);
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    padding-top: 40px;
    background-image: linear-gradient(rgba(var(--sidebar-gradient-1),1),rgba(var(--sidebar-gradient-2),1));
    box-shadow: 0 10px 20px rgba(var(--shadow-color),0.19), 0 6px 6px rgba(var(--shadow-color),0.23);
    transition: transform 1s;
    label{
        width: 40%;
        margin: 0 auto;
        background-position: center;
        height: 50px;
        display: block;
        background-image: url("../images/hamburger.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    @media (max-width: 1100px) {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: auto;
        padding-top: 0;
        height: 100px;
        label{
            width: 100px;
        }
    }
    @media (max-width: 500px) {
        height: 75px;
        label{
            height: 40px;
        }
    }
}

#menu-content{
    --menu-font-size : 2.25rem;
    //transform: translate(-1200px);
    //opacity: 0;
    transition: transform 0.6s 0s, opacity 0s 0.6s;
    padding: 40px 40px 40px 100px;
    position: absolute;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: rgba(var(--bg-color),1);
    width: 54%;
    header{
        transition: all $color-transition-time;
        display: flex;
        justify-content: space-between;
        h4{
            text-transform: uppercase;
            margin: 0;
            font-size: var(--menu-font-size);
        }
        label{
            width: 40px;
            height: 40px;
            margin-right: 100px;
            background-image: url("../images/close.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    #theme{
        transition: all $color-transition-time;
        h5{
            margin-top: 7rem;
            font-size: var(--menu-font-size);
            text-transform: uppercase;
            line-height: 10%;
            span{
                margin-left: 40px;
                &:hover{
                    opacity: 0.6;
                }
            }
        }
    }
    #completed-task{
        transition: all $color-transition-time;
        h5{
            font-size: var(--menu-font-size);
            margin: 7rem 0 1.5rem;
            text-transform: uppercase;
        }
        li{
            font-size: var(--menu-font-size);
            list-style: none;
            margin: 12px 0;
            width: max-content;
            padding: 5px;
            span{
                margin-left: 22px;
            }
        }
    }
    #reset{
        transition: all $color-transition-time;
        font-size: var(--menu-font-size);
        text-transform: uppercase;
        padding: 5px;
        width: max-content;
        &:hover{
            background-color: rgba(var(--text-color),1);
            color: rgba(var(--bg-color),1);
        }
    }
    @media (max-width: 1500px) {


    }
}
#menu-dimmed-bg{
    //visibility: hidden;
    //transform: translate(-120vw);
    transition: transform 0.8s 0.2s , color $color-transition-time, background-color $color-transition-time;
    background-color: rgba(var(--text-color),0.6);
    z-index: 1;
    position: fixed;
    top: 0;
    min-height: 100vh;
    width: 100%;
    @media (max-width: 1100px) {
        transform: translate(0,-120vh);
    }
}
