$color-transition-time : 0.2s;

:root{
    --bg-color : 255,255,255;
    --text-color:12,12,12;
    --shadow-color : 0,0,0;
    --gradient-1 : 108,29,103;
    --gradient-2 : 100,25,148;
    --sidebar-gradient-1 : 255,255,255;
    --sidebar-gradient-2 : 251,247,247;
}