$color-transition-time : 0.2s;

:root{
    //light theme
    --bg-color : 255,255,255;
    --text-color:12,12,12;
    --shadow-color : 0,0,0;
    --gradient-1 : 108,29,103;
    --gradient-2 : 100,25,148;
    --sidebar-gradient-1 : 255,255,255;
    --sidebar-gradient-2 : 251,247,247;

    //dark theme
    //--bg-color : 19,19,19;
    //--text-color: 255,255,255;
    //--shadow-color : 255,255,255;
    //--gradient-1 : 34,208,163;
    //--gradient-2 : 32,173,211;
    //--sidebar-gradient-1 : 35,35,35;
    //--sidebar-gradient-2 : 46,46,46;
}